:root {
	/* color pallete */
	--sys-first: #f5e6e8;
	--sys-second: #8ac6d0;
	--sys-third: #ff3366;
	--sys-fourth: #141b41;
	--sys-fifth: #0c111e;

	/* local vars*/
	--sys-height: 570px;
	--sys-width: 280px;
	--sys-radius: 48.25px;

	/* appearance parameters */
	--sys-blur: 3px;
	--sys-shadow: 3px 2px 4px 0 #1113;

	--sys-bg: url("./images/wall-01.jpg");

	--delta-time: 1;
}
@font-face {
	font-family: "ROTHEFIGHT";
	src: url("./ROTHEFIGHT.woff2");
}
@font-face {
	font-family: "Victory_Striker_Sans";
	src: url("./Victory Striker Sans Demo.woff2");
}
@font-face {
	font-family: "ProductSansMed";
	src: url("./ProductSans-Medium.woff2");
}
* {
	box-sizing: border-box;
	user-select: none;
}
/* TODO:
fix the navbar not blending
*/
html {
	height: 100vh;
	overflow: hidden;
}
body {
	height: 100vh;
	background: var(--sys-fifth);
	color: whitesmoke;
	display: block;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	text-align: center;
	margin: 0;
	font-family: "ProductSansMed", Verdana;
}
#loading_screen {
	display: none;
	width: 100vw;
	height: 100vh;
}
#screen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: var(--sys-width);
	height: var(--sys-height);
	border: 2px solid black;
	/* border-bottom: 7.5px solid black; */
	outline: 1px solid white;
	outline-offset: 2px;
	border-radius: var(--sys-radius);
	background-image: var(--sys-bg);
	background-color: #8ac6d0;
	background-size: cover;
	background-position: center center;
	padding: 0;
	margin: 0;
	overflow: hidden;
	isolation: isolate;
	scale: 0.95;
}
#status {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background: #ffffff01 !important;
	z-index: 1000;
	isolation: auto;
	mix-blend-mode: normal;
	mix-blend-mode: difference !important;
	/* backdrop-filter: blur(20px); */
}
#st_n {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 30px;
	background: transparent !important;
	z-index: auto;
	isolation: auto;
}
#h_st {
	position: absolute;
	top: 13.25px;
	left: 17px;
	font-size: 17px;
	transition: all calc(0.25s * var(--delta-time)) ease;
	opacity: 1;
	font-family: "ProductSansMed", Verdana;
	mix-blend-mode: difference !important;
	/* z-index: 1002; */
}
#h_st.hidden {
	opacity: 0;
}
#st_c {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 30px;
	background: transparent !important;
	isolation: auto;
}
#b_sect {
	display: flex;
	align-items: center;
	position: absolute;
	right: 19.25px;
	top: 13.5px;
	width: 32.5px;
	height: 15px;
	border: 1px solid white;
	border-radius: 5px;
	background: transparent !important;
	overflow: hidden;
	isolation: auto;
	/* mix-blend-mode: difference !important; */
}
#b_ind {
	height: 100%;
	width: 0%;
	background: #fff;
	position: absolute;
	right: 0;
	border-radius: 0;
	transition:
		width calc(0.5s * var(--delta-time)) ease,
		background calc(0.35s * var(--delta-time)) cubic-bezier(0.7, 0.11, 0.28, 1.13);
	/* mix-blend-mode: difference !important; */
	isolation: auto;
}
#camera {
	width: 75px;
	height: 28px;
	position: absolute;
	top: 7.5px;
	left: 50%;
	translate: -50%;
	border-radius: var(--sys-radius);
	background: #000;
	z-index: 1000;
}
#n_bar {
	position: absolute;
	bottom: 7px;
	left: 50%;
	translate: -50%;
	width: 120px;
	height: 3.25px;
	border-radius: 400px;
	background: white;
	mix-blend-mode: exclusion !important;
	opacity: 0;
	z-index: 1001;
	transition:
		opacity calc(0.2s * var(--delta-time)) linear,
		width calc(0.25s * var(--delta-time)) ease,
		bottom calc(0.35s * var(--delta-time)) ease;
	/* isolation: auto; */
}
#nav_sect {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 27.5px;
	background: rgba(255, 255, 255, 0);
	z-index: 1000;
	cursor: grab;
	/* backdrop-filter: blur(10px); */
}
#n_bar.hidden {
	opacity: 0;
}
#n_bar.visible {
	opacity: 1;
}
#n_bar.lift {
	bottom: 20px;
}
#n_bar.shrink {
	width: 80px;
}
#s_lock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--sys-radius);
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(7.5px);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 999;
	transition:
		top calc(0.3s * var(--delta-time)) ease,
		backdrop-filter calc(0.25s * var(--delta-time)) ease,
		background calc(0.2s * var(--delta-time)) ease;
	/* backdrop-filter: blur(4px); */
	box-shadow: var(--sys-shadow);
}
#s_lock.locked {
	background: var(--sys-bg);
	backdrop-filter: blur(0);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#s_lock.hidden {
	top: -100%;
	pointer-events: none;
}
#h_lo {
	position: absolute;
	top: 3%;
	left: 50%;
	translate: -50%;
	font-family: "ROTHEFIGHT";
	font-size: 140px;
	text-align: center;
}
#h_lo.hard-light {
	mix-blend-mode: hard-light;
	opacity: 0.775;
}
#h_lo.exclusion {
	mix-blend-mode: exclusion;
	opacity: 1;
}
#d_lo {
	position: absolute;
	top: 8%;
	left: 50%;
	translate: -50%;
	font-family: "ProductSansMed", Verdana;
	font-size: 27.5px;
	text-align: center;
	mix-blend-mode: difference;
}
#t_swipe {
	position: absolute;
	bottom: 20px;
	left: 50%;
	translate: -50%;
	text-align: center;
	font-size: 12.5px;
	opacity: 0;
	mix-blend-mode: exclusion;
}
#t_swipe.visible {
	opacity: 1;
}
#s_home {
	display: grid;
	position: absolute;
	top: 35.9px;
	padding: 20px;
	width: 100%;
	height: auto;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	place-items: center;
	text-align: center;
	box-sizing: border-box;
}
.h_icon {
	width: 50px;
	height: 50px;
	border-radius: 12px;
	border: none;
	padding: 0;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	transition:
		transform calc(0.1s * var(--delta-time)) ease,
		filter calc(0.2s * var(--delta-time)) ease,
		height calc(0.35s * var(--delta-time)) ease,
		width calc(0.35s * var(--delta-time)) ease;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
}
.h_icon:active {
	transform: scale(0.95);
	filter: brightness(0.8);
}

.app_view {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--sys-fifth); /* O el color que prefieras */
	z-index: 500;
	border-radius: var(--sys-radius);
	transition:
		transform calc(0.425s * var(--delta-time)) cubic-bezier(0.34, 0, 0.2, 1),
		opacity calc(0.345s * var(--delta-time)) ease,
		width calc(0.4s * var(--delta-time)) ease,
		height calc(0.4s * var(--delta-time)) ease,
		border-radius calc(0.4s * var(--delta-time)) ease;
	transform-origin: center; /* Esto se ajustará con JS */
	overflow: auto;
}

.app_view.hidden {
	opacity: 0;
	border-radius: 100px;
	pointer-events: none;
	transform: scale(0.05); /* Empieza pequeña */
}

/* Animación de retroceso para el home */
#s_home {
	transition:
		transform calc(0.45s * var(--delta-time)) ease,
		opacity calc(0.4s * var(--delta-time)) ease;
}
#s_home.zoom-out {
	transform: scale(0.525);
	opacity: 0.25;
	/* filter: blur(2.5px); */
}

#w_settings {
	padding-top: 35px;
}

#c_hour {
	position: absolute;
	top: 10px;
	left: 50%;
	translate: -50%;
	font-family: "ROTHEFIGHT", Verdana;
	font-size: 100px;
}
#c_date {
	position: absolute;
	top: 230px;
	left: 50%;
	translate: -50%;
	font-family: "ProductSansMed", Verdana;
	font-size: 17.5px;
}
#s_w_carr {
	width: 95%;
	height: 160px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	overflow-x: scroll;
	gap: 12.5px;
	/* position: absolute;
	top: unset;
	left: 50%;
	translate: -50%;*/
	border: 2px solid #fff2;
	background: #fff0;
}
#s_w_carr img {
	width: 90px;
	height: 150px;
	border-radius: 20px;
	object-fit: cover;
	box-shadow: 2px 2px 3px #00000055;
}
.term_header {
	background: #222;
	padding: 40px 0 10px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #aaa;
}
.term_content {
	padding: 20px;
	color: #0f0;
	font-family: monospace;
	font-size: 14px;
	text-align: left;
	line-height: 0.2rem;
}
.cursor {
	animation: blink 1s step-end infinite;
}
@keyframes blink {
	50% {
		opacity: 0;
	}
}
label {
	width: calc(auto + 30px);
	height: calc(auto + 10px);
	padding: 10px;
	border-radius: 20px;
	background: white;
	color: black;
}
#w_none {
	align-content: center;
}
button.group_upper {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding: 10px;
	border: none;
	min-width: 120px;
}
button.group_lower {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 10px;
	border: none;
	min-width: 120px;
}
button.group_middle {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding: 10px;
	border: none;
	min-width: 120px;
}
#w_settings {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	text-align: center;
}
div.group_upper {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
	margin-top: 10px;
}
div.group_middle {
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2.5px;
}
div.group_lower {
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-bottom: 10px;
}
div.group_lower,
div.group_alone,
div.group_middle,
div.group_upper {
	width: 82.5%;
	height: 50px;
	align-content: center;
	padding: 8px;
	border: none;
	background: var(--sys-fourth);
	margin: 1px;
}
div.group_alone {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin: 5px;
}
.subapp {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--sys-fifth); /* O el color que prefieras */
	z-index: 501;
	border-radius: var(--sys-radius);
	transition:
		left calc(0.425s * var(--delta-time)) cubic-bezier(0.34, 0, 0.2, 1),
		opacity calc(0.35s * var(--delta-time)) ease,
		width calc(0.4s * var(--delta-time)) ease,
		height calc(0.4s * var(--delta-time)) ease;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	text-align: center;
}

.subapp.hidden {
	opacity: 0;
	/* width: 75px;
	height: 75px; */
	pointer-events: none;
	left: 100%;
}
.globheader {
	background: var(--sys-fourth);
	padding: 40px 0 4px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: white;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.globheader p{
	font-size: 14px;
}
#suba_ext {
	position: absolute;
	left: 10px;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: #ddf;
}
@keyframes appBounce {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(-10%);
	}
	100% {
		transform: translateY(0%);
	}
}
select{
	min-width: 130px;
	min-height: 27.5px;
	padding: 7.5px;
	border-radius: 10px;
	outline: none;
}